/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


/* FLEX */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-bt{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}




/* TAG */



/* ...............................................................
                    HEADER
 ................................................................*/

header{
    background-color: rgb(0, 132, 253);
}

header img, 
header i{
    padding: 1rem;
}

.fa-bars{
    font-size: 28px;
}


ul{
    display: none;
}
 /* ...............................................................
                    MAIN
 ................................................................*/


 /* 1 section app*/
.s-container{
    width: 330px;
}

 .column-width{
    width: 100%;
    border-radius: 30px;
    margin: 1rem 0; 
    padding: 1rem; 
 }

section.app,
section.testimonials
{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

section.about-us{
    text-align: justify;
}

section.app div.column-width{
    background-color: rgb(181, 221, 255);
}

.blue-button{
    background-color: rgb(0, 132, 253);
    padding: 0.5rem 2rem;
}

.fa-apple{
    padding-right: 0.5rem;
}

.s-dimension-img{
    width: 75%;
    padding-top: 2rem;
    padding-bottom: 0;
}

section.app h3{
    color: rgb(0, 127, 253);
}

section.app div.s-container i:not(i.fa-apple){
    font-size: 3.5rem;
}

 /* 2 section strategic-planning*/

.dimension-img{
    width: 100%;
}

.strategic-planning{
    background-color: rgb(149, 147, 230);
}

section.strategic-planning div.card div.column,
section.benefit div.column-width{
    background-color: white;
}

section.strategic-planning div.card div.column button{
    padding: 0.5rem;
    width: 10%;
}


.italic{
    font-style: italic;
}

/* 3 section testimonials */

section.testimonials div.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.img-circle{
  height: 100%;
  position: relative;
  right: 25px;
}

.virgolette{
    font-size: 2rem;
}


/* 4 section benefit*/

section.benefit button{
    padding: 0.3rem 2rem;
}

.bigger-number{
    font-size: 2.7rem;
    justify-content: flex-start;
}

section.benefit div.column-width .bigger-number {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
}

section.benefit div.column-width h3 {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
}


/* 5 section about us*/

.img-about{
    width: 50%;
    border-radius: 100px;
}

.lillac-button,
.bg-lillac,
section.benefit,
section.testimonials .column-width{
    background-color: rgb(151, 146, 228);
}

main section ,
section.about-us img,
section.about-us button.lillac-button {
    margin: 2rem 0;
}


.quote-on-img{
    position: relative;
    top: 81px;
    left: 61px;
    font-size: 60px;
}

.padding-bottom{
    padding-bottom: 2rem;
}


/* general */

.white-text,
.bg-grey,
.bg-lillac,
span .underline-white,
section.strategic-planning h2,
section.benefit h2,
section.testimonials div.column-width,
section.benefit button{
    color: white;
}

button{
    padding: 0.5rem;
    border-radius: 50px;
    border: none;
}

h2{
    font-size: xx-large;
    padding: 1rem;
}

h3{
    padding: 1rem;
}

button{
    margin: 1rem;
}

main {
    line-height: 1.5rem;
}

section.app, 
section.strategic-planning,
section.testimonials,
section.benefit,
section.about-us
{
    padding: 2rem 0;

}

section.testimonials div.column-width p{
    margin: 1rem 0; 

}

 /* ...............................................................
                    FOOTER
 ................................................................*/

.uppercase{
    text-transform: uppercase;
}

.white-button{
    background-color: white;
    color: rgb(151, 146, 228);
    width: 140px;
}

.middot{
    font-size: 3rem;
    vertical-align: middle;
}

.underline, 
.underline-white{
    text-decoration: underline;
}

.bg-grey{
    background-color: rgb(51, 51, 51);
    font-size: 0.9rem;
}

footer div.flex span.underline,
section.about-us h2,
section.about-us h3, 
section.testimonials h2,
.bigger-number,
section.benefit h3{
    color: rgb(151, 146, 228);
}

.text-yellow{
    color: rgb(253, 193, 95);
    font-size: 3rem;
    font-weight: bold;
}

footer div p.margin {
    padding: 2rem 4rem;
    text-align: center;
}

footer div.bg-lillac p,
footer div.bg-lillac h2 {
    padding-top: 2rem;
    text-align: center;
}

section.about-us ,
footer button.white-button{
    margin-top: 2rem;
}

.padding{
    padding: 2rem;
  }

section.about-us button,
footer p.s-container{
    margin-bottom: 2rem;
}

.container{
    max-width: 476px;
}


/* ...............................................................
                    RESPONSIVENESS
 ................................................................*/



 /* TBALET */

@media screen and (min-width: 576px) {

    .s-container{
        min-width: 576px; 
        display: flex;      
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

    section.app div.column-width{
        width: calc((100% / 3) - 1rem);
     }
     
     section.app div.width-x2{
        width: calc(100% / 3 * 2) ;
     }

     section.benefit div.media-row{
        min-width: 576px; 
        display: flex;      
        flex-wrap: wrap;
        justify-content: space-between;
     }

     section.benefit div.column-width{
        width: calc((100% / 2) - 1rem );

     }

     section.testimonials div.column-width:not(.uppercase)
{
        display: flex;
        flex-direction: row;
     }


     section.about-us div.media-row{
        display: flex ;
        flex-direction: row;
     }

     section.about-us div.bigger{
        width: 60%;
        margin-right: 2rem;
     }


     section.about-us div.smaller{
        width: 40%;
     }

     footer p.s-container{
        justify-content: center;
     }

     .container{
        max-width: 768px;
    }

}


/* DESKTOP */

 @media screen and (min-width: 768px) {
    
    header ul{
        list-style: none;
        display:flex;
        align-items: center;
    }

    li{
        padding-right: 1rem;
    }

    header div.flex i{
        display: none;
    }

    .s-container{
        min-width: 768px; 
        display: flex;      
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

    .width-x2{
        display: flex;
    flex-direction: row;  
     }


    div.s-width{
        width: calc(100% / 2 - 2rem);
    }

    div.s-width-2{
        width: calc(100% / 2 - 2rem);
        display: flex;
        justify-content: space-between;
    }

    .s-dimension-img{
        display: flex;
        position: relative;
        bottom: -50px;
        left: 20px;
    }

    .media-cl{
        display: block;
    }

    .width-30{
        width: calc(30% / 2);
    }

    .width-70{
        width: calc(70% / 2);


    }


    section.benefit div.column-width{
        width: calc((100% / 3) - 1rem );

     }

     section.strategic-planning div.card{
        display: flex;
     }

     section.strategic-planning img.dimension-img{
        width: 70%;
     }

     section.strategic-planning div.xs-img p{
        width: 60%;
     }

    
     section.strategic-planning div.lower{
       justify-content: flex-end;
       height: 400px;
       position: relative;
       top: 120px;
       right: 100px;
     }

     .container{
        max-width: 1500px;
    }


 }








