/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FLEX */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-bt{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}




/* TAG */



/* ...............................................................
                    HEADER
 ................................................................*/

header{
    background-color: rgb(0, 132, 253);
}

header img, 
header i{
    padding: 1rem;
}

.fa-bars{
    font-size: 28px;
}

 /* ...............................................................
                    MAIN
 ................................................................*/


 /* 1 section app*/
.s-container{
    width: 360px;
}

 .column-width{
    width: 100%;
    height: 100px;
    border: 1px solid purple;
    border-radius: 30px;
    margin: 1rem 0;  
 }



 /* 2 section strategic-planning*/

.dimension-img{
    width: 100%;
}

/* 3 section testimonials */

.strategic-planning{
    background-color: rgb(149, 147, 230);
}


/* 4 section benefit*/



/* 5 section about us*/








 /* ...............................................................
                    FOOTER
 ................................................................*/







/* ...............................................................
                    RESPONSIVENESS
 ................................................................*/



 /* TBALET */

@media screen and (min-width: 480px) {
    
}




/* DESKTOP */

 @media screen and (min-width: 768px) {
    
 }








