/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FLEX */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-bt{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}




/* TAG */



/* ...............................................................
                    HEADER
 ................................................................*/

header{
    background-color: rgb(0, 132, 253);
}

header img, 
header i{
    padding: 1rem;
}

.fa-bars{
    font-size: 28px;
}

 /* ...............................................................
                    MAIN
 ................................................................*/


 /* 1 section app*/
.s-container{
    width: 330px;
}

 .column-width{
    width: 100%;
    border: 1px solid purple;
    border-radius: 30px;
    margin: 1rem 0;  
 }



 /* 2 section strategic-planning*/

.dimension-img{
    width: 100%;
}

/* 3 section testimonials */

.strategic-planning{
    background-color: rgb(149, 147, 230);
}


/* 4 section benefit*/



/* 5 section about us*/

.img-about{
    width: 50%;
    border-radius: 100px;
}

.lillac-button,
.bg-lillac{
    background-color: rgb(151, 146, 228);
}

main section {
    margin: 2rem;
}


/* general */

.white-text,
.bg-grey,
.bg-lillac,
span .underline-white{
    color: white;
}

button{
    padding: 0.5rem;
    border-radius: 50px;
    border: none;

}

h2{
    font-size: xx-large;
}


 /* ...............................................................
                    FOOTER
 ................................................................*/

.uppercase{
    text-transform: uppercase;
}

.white-button{
    background-color: white;
    color: rgb(151, 146, 228);
    width: 140px;
}

.middot{
    font-size: 3rem;
    vertical-align: middle;
}

.underline{
    text-decoration: underline;
}

.bg-grey{
    background-color: rgb(51, 51, 51);
    font-size: 0.9rem;
}

footer div.flex span.underline{
    color: rgb(151, 146, 228);
}

.text-yellow{
    color: rgb(253, 193, 95);
    font-size: 3rem;
    font-weight: bold;
}

footer div p.margin {
    padding: 2rem;
    text-align: center;
}

footer div.bg-lillac p,
footer div.bg-lillac h2 {
    padding-top: 2rem;
    text-align: center;
}

footer button.white-button{
    margin-top: 2rem;
}





/* ...............................................................
                    RESPONSIVENESS
 ................................................................*/



 /* TBALET */

@media screen and (min-width: 480px) {
    
}




/* DESKTOP */

 @media screen and (min-width: 768px) {
    
 }








